<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/main.css" />
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="clientApp">

    <div id="header">
    {% block header %}{% endblock %}
    </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}{% endblock %}
    </div>


    {% block javascript %}
    <script src="{{ STATIC_URL }}scripts/vendor.js"></script>
    <script src="{{ STATIC_URL }}scripts/scripts.js"></script>
    {% endblock %}

    {% if debug %}
        <script src="//localhost:35729/livereload.js"></script>
        <script src="{{ STATIC_URL }}scripts/app.js"></script>
        <script src="{{ STATIC_URL }}scripts/controllers/main.js"></script>
    {% endif %}


</body>
</html>
