<!DOCTYPE html>
<html lang="en">

    <head>
      <link rel="stylesheet"
        href="{{ STATIC_URL }}styles/main.css" />
      <meta charset="UTF-8">
      <link rel="shortcut icon" type="image/png"
        href="{{ STATIC_URL }}images/favicon.ico" />
      <title>Kanji Damesi</title>
    </head>

    <body ng-app="clientApp">

        {% include "partials/external.html" %}

        {% block header %}{% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block javascript %}
        <script src="{{ STATIC_URL }}scripts/vendor.js"></script>
        <script src="{{ STATIC_URL }}scripts/scripts.js"></script>
        <script src="{{ STATIC_URL }}scripts/furigana.js"></script>
        {% endblock %}

        {% if debug %}
            <script src="//localhost:35729/livereload.js"></script>
            <script src="{{ STATIC_URL }}scripts/app.js"></script>
            <script src="{{ STATIC_URL }}scripts/controllers/main.js"></script>
            <script src="{{ STATIC_URL }}scripts/controllers/user.js"></script>
            <script src="{{ STATIC_URL }}scripts/controllers/quiz.js"></script>
        {% endif %}


    </body>

</html>
