{% extends "base.html" %}

{% block content %}

<div class="landing">

    <!-- Title -->
    <div class="title-box">
        漢字験
        <p>Kanji Damesi</p>
    </div>

    {% if not login and not register %}

        <div class="button-box">
          <a href="{% url 'login' %}">
            <div class="content">
                <h1> Login </h1>
            </div>
          </a>
        </div>
        <div class="button-box">
          <a href="{% url 'register' %}">
            <div class="content">
               <h1> Register </h1>
            </div>
          </a>
        </div>
        <div class="button-box">
          <a href="{% url 'try' %}">
            <div class="content">
               <h1> Try </h1>
            </div>
          </a>
        </div>

    {% endif %}

    <div ng-controller="MainCtrl" ng-cloak>

        {% if login %}
            {% include "auth/login.html" %}
        {% endif %}

        {% if register %}
            {% include "auth/register.html" %}
        {% endif %}

    </div>

    <!-- Info -->
    <div class="info-box">
        <p>Simple <strong>kanji quiz</strong> utility</p>
        <p>
          Much <strong>SRS</strong>,
          so <strong>radical decomposition</strong>,
          such <strong>semantic groups</strong>,
          very <strong>gamification</strong>
        </p>
    </div>

</div>

{% endblock %}
