<!-- Login -->
<div class="auth-box">
    <div class="content">
        <h1>Login</h1>
        {% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input class="field" type="text" name="username" placeholder="Username"><br>
            <input class="field" type="password" name="password" placeholder="Password"><br>
            <input class="btn-dark" type="submit" value="Proceed">
            <a href="{% url 'register' %}">Register</a>
        </form>
    </div>
</div>

