{% extends "base.html" %}

{% block header %}
    {% include "layout/header.html" %}
{% endblock %}

{% block content %}

<div class="container" ng-controller="UserCtrl">
    {# ng-init="level={{user.profile.get.level}}"> #}
    <div class="row">

      {% include "partials/sidebar.html" %}

      <!-- Central content -->
      <div class="col-sm-9 main">

        {% include "partials/profile.header.html" %}

        {% verbatim %}

        <!-- Level selection -->
        <h3>Select your level: <strong>{{ description }}</strong></h3>


        <ul class="glow-buttons glow-buttons-container glow-buttons-small" ng-cloak>
            <li ng-class="{'glow-button': true, 'glow-button-active': level == 1}">
              <a ng-click="changeLevel(1)" href="#">I</a>
            </li>
            <li ng-class="{'glow-button': true, 'glow-button-active': level == 2}">
              <a ng-click="changeLevel(2)" href="#">II</a>
            </li>
            <li ng-class="{'glow-button': true, 'glow-button-active': level == 3}">
              <a ng-click="changeLevel(3)" href="#">III</a>
            </li>
            <li ng-class="{'glow-button': true, 'glow-button-active': level == 4}">
              <a ng-click="changeLevel(4)" href="#">IV</a>
            </li>
        </ul>

        {% endverbatim %}

        <hr>

        <!-- Random stats -->
        <p class="lead">
        Here, have some totally unimportant statistics for the past
        {{ stats.days }} day(s):
        </p>

        {% with user.profile.get.streak as streak %}
        <p><strong>Streak:</strong>

          {% if streak == 0 %}
            You're taking your sweet time, good sir.
          {% else %}
            You are studying <strong>{{ user.profile.get.streak }}</strong> days in a row!
          {% endif %}

        </p>
        {% endwith %}

        <!-- TODO: total kanji studied in the last days -->
        <p><strong>Total kanji studied:</strong>
        {{ stats.kanji_studied }}
        </p>
        <!-- TODO: total new kanji -->
        <p><strong>Total new kanji studied:</strong>
        {{ stats.new_kanji_studied }}
        </p>
        <!-- TODO: total errors -->
        <p><strong>Total errors made:</strong>
        {{ stats.errors_made }}
        </p>
        <!-- TODO: got right percentage -->
        <p><strong>Percentage of kanji you got right:</strong>
        {{ stats.percentage }}%
        </p>


      </div>

    </div>
  </div>

{% endblock %}

{% block footer %}
    {% include "layout/footer.html" %}
{% endblock %}
