{% extends "base.html" %}

{% block header %}
    {% include "layout/header.html" %}
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">

      {% include "partials/sidebar.html" %}

      <!-- Central content -->
      <div class="col-sm-9 main">

        {% include "partials/profile.header.html" %}

          {# <select id="" name="level"> #}
          {#     <option value="1">Level 1</option> #}
          {#     <option value="2">Level 2</option> #}
          {#     <option value="3">Level 3</option> #}
          {#     <option value="4">Level 4</option> #}
          {# </select> #}

        <p class="lead">
        Here, have some totally unimportant statistics for the past
        {{ stats.days }} day(s):
        </p>

        {% with user.profile.get.streak as streak %}
        <p><strong>Streak:</strong>

          {% if streak == 0 %}
            You're taking your sweet time, good sir.
          {% else %}
            You are studying <strong>{{ user.profile.get.streak }}</strong> days in a row!
          {% endif %}

        </p>
        {% endwith %}

        <!-- TODO: total kanji studied in the last days -->
        <p><strong>Total kanji studied:</strong>
        {{ stats.kanji_studied }}
        </p>
        <!-- TODO: total new kanji -->
        <p><strong>Total new kanji studied:</strong>
        {{ stats.new_kanji_studied }}
        </p>
        <!-- TODO: total errors -->
        <p><strong>Total errors made:</strong>
        {{ stats.errors_made }}
        </p>
        <!-- TODO: got right percentage -->
        <p><strong>Percentage of kanji you got right:</strong>
        {{ stats.percentage }}%
        </p>


      </div>

    </div>
  </div>

{% endblock %}

{% block footer %}
    {% include "layout/footer.html" %}
{% endblock %}
