{% extends "base.html" %}

{% block header %}
    {% include "layout/header.html" %}
{% endblock %}

{% block content %}

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
          <h1>Hello there, {{ user.username }}</h1>
      </div>
      <p class="lead">Some profile info and so on</p>

        <select id="" name="level">
            <option value="1">Level 1</option>
            <option value="2">Level 2</option>
            <option value="3">Level 3</option>
            <option value="4">Level 4</option>
        </select>

    </div>

{% endblock %}

{% block footer %}
    {% include "layout/footer.html" %}
{% endblock %}
