{% extends "base.html" %}

{% block header %}
    {% include "layout/header.html" %}
{% endblock %}

{% block content %}

<div ng-controller="QuizCtrl">


    <!-- Quiz active group-->
    {% verbatim %}
    <div class="container quiz ng-cloak" ng-cloak>
        <div class="active-kanji-group">

            <!-- Kanji preview -->
            <p class="kanji-zoom hidden-xs hidden-sm" ng-show="showBigKanji">
            {{ currentKanji.front }}
            </p>
            <!-- TODO: also show radical info on hover -->
            <div class="kanji-radicals hidden-xs hidden-sm" ng-show="showBigKanji">
                <!-- TODO: randomize kanji order -->
                <span class="kanji-radical" ng-repeat="rad in currentKanji.radicals">
                    {{ rad.front }}
                </span>
            </div>
            <!-- Kanji preview END -->

            <!-- Kanji group -->
            <div class="kanji-group">

              <div id="{{kanji.id}}" class="kanji"
                  ng-mouseover="zoomKanji(kanji)"
                  ng-click="answerWith(kanji)"
                  ng-repeat="kanji in activeGroup.kanji">
                  {{ kanji.front }}
                  <!-- TODO: include kana from examples in form of popup -->
              </div>

              <!-- Wildcard (I don't know button) -->
              <div class="kanji-skip" ng-click="skipQuestion(quiz.answer)">
                    <span class="glyphicon glyphicon-remove"></span>
                    <!-- TODO: include help popup -->
              </div>

            </div>
            <!-- Kanji group end -->

            <!-- Active question -->
            <div class="kanji-quiz">

                <!-- Different readings -->
                <div class="reading">
                  <span class="kun">
                    {{ quiz.readings.kun }}
                  </span>
                  <span class="on">
                    {{ quiz.readings.on }}
                  </span><br/>
                  <span class="nanori">
                    {{ quiz.readings.nanori }}
                  </span>
                </div>

                <!-- Meanings -->
                <p class="meaning"> {{ quiz.meanings }} </p>
                <!-- TODO: show kanji in example but hide(transliterate) the word -->
                <!-- TODO: highlight example compound/word -->
                <p class="example"> {{ quiz.examples[0].reading }} </p>
                <p class="group-key"> {{ activeGroup.info }} </p>
            </div>
            <!-- Active question END -->

        </div>
        <!-- Kanji group END -->

    </div>
    {% endverbatim %}

    <!-- Loader -->
    <div ng-show="loading">
        {% include "partials/loader.html" %}
    </div>

    {% verbatim %}
    <div class="container answers ng-cloak" ng-hide="loading" ng-cloak>
      <div class="list-group">

        <!-- Previous answer -->
        <a href="" class="log-item list-group-item"
          ng-repeat="item in kanjiLog | reverse | limitTo: logLimit"
          ng-click="toggleLogItemInfo(item)"
          ng-class="{
            'list-group-item-success': item.correct && !item.toggled,
            'list-group-item-danger': !item.correct && !item.skipped && !item.toggled,
            'list-group-item-warning': item.skipped && !item.toggled,
            'active': item.toggled,
          }">

            <div class="list-group-item-heading item-header">
              <h4>
                {{ item.answered.front }}
                <span class="correct" ng-show="!item.correct && !item.skipped">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  {{ item.answer.front }}
                </span>
              </h4>
            </div>

            <!-- Answer details -->
            <div ng-show="item.toggled" class="list-group-item-text">

              <div>

                <!-- Correct item details -->
                <hr>
                <p class="details-kanji">
                  {{ item.answer.front }} ～
                  <span class="reading">
                    「{{ item.answer.kun }}
                    <span ng-show="item.answer.kun">｜</span>
                      {{ item.answer.on }}」
                  </span>
                  <span class="gloss">{{ item.answer.gloss }}</span>
                  <div class="kanji-example">
                    <!-- TODO: wrap separate words only! -->
                    <ruby>
                      {{ item.examples[0].front }}
                      <rt> {{ item.examples[0].reading }} </rt>
                    </ruby>
                    <p class="gloss"> {{ item.examples[0].gloss }} </p>
                  </div>
                </p>

                <p class="details-compound"
                  ng-repeat="compound in item.answer.compounds | limitTo: 3">

                  <span class="compound">{{compound.front}}</span>
                  「<span class="reading">{{compound.reading}}</span>」:
                  <span class="gloss">{{compound.gloss}}</span>
                </p>

              </div>

              <!-- Answered item details -->
              <div ng-show="!item.correct && !item.skipped">

                <hr>
                <p class="details-kanji">
                  {{ item.answered.front }} ～
                  <span class="reading">
                    「{{ item.answered.kun }}
                    <span ng-show="item.answered.kun">｜</span>
                    {{ item.answered.on }}」
                  </span>
                  <span class="gloss">{{ item.answered.gloss }}</span>
                </p>

                <p class="details-compound"
                  ng-repeat="compound in item.answered.compounds | limitTo: 3">

                  <span class="compound">{{compound.front}}</span>
                  「<span class="reading">{{compound.reading}}</span>」:
                  <span class="gloss">{{compound.gloss}}</span>
                </p>

              </div>

              <!-- TODO: load more button? -->

            </div>

        </a>
        <!-- Show additional kanji from log -->
        <a href="" class="log-item list-group-item list-group-item-info toggle-log"
          ng-show="kanjiLog.length > baseLimit"
          ng-click="toggleLimit()">
            <span class="glyphicon glyphicon-sort"></span>
        </a>

      </div>
    </div>

    {% endverbatim %}

    <!-- TODO: also show session stats! -->
    {% verbatim %}
      <!--div class="groups-seen">
        <span ng-repeat="group in groupsSeen">
          {{ group.info }}
          <div class="kanji-in-group">
            <span ng-repeat="kanji in group.kanji">
              {{ kanji.front }}
            </span>
          </div>
        </span>
      </div-->
    {% endverbatim %}

    <!-- TODO: also show user stats! -->

</div>

<!--div class="container">
  <div class="alert alert-danger">Yaay, you did it!</div>
</div-->

{% endblock %}

{% block footer %}

    {# {% include "layout/footer.html" %} #}

{% endblock %}
