{% extends "base.html" %}

{% block header %}
    {% include "layout/header.html" %}
{% endblock %}

{% block content %}

<div ng-controller="QuizCtrl">

    {# <!-- Begin page content --> #}
    {# <div class="container"> #}
    {#   <div class="page-header"> #}
    {#       <h1>Quiz page</h1> #}
    {#   </div> #}
    {#   <p class="lead">There's nothing here, for now</p> #}
    {# </div> #}

    {# <div class="container"> #}
    {#     {{ group }} #}
    {# </div> #}

    {% verbatim %}
    <div class="container quiz" ng-cloak>
        <div class="active-kanji-group">
            <div class="kanji" ng-repeat="kanji in activeGroup.kanji">
                {{ kanji.fields.front }}
            </div>
        </div>
        <button ng-click="getNextGroup()">Next group</button>
    </div>
    {% endverbatim %}

</div>

{% endblock %}

{% block footer %}
    {% include "layout/footer.html" %}
{% endblock %}
