{% extends "base.html" %}

{% block header %}
    {% include "layout/header.html" %}
{% endblock %}

{% block content %}

<div ng-controller="QuizCtrl">


    <!-- Quiz active group-->
    {% verbatim %}
    <div class="container quiz" ng-cloak>
        <!-- Kanji group -->
        <div class="active-kanji-group">

            <!-- TODO: also show radicals on hover -->
            <p class="kanji-zoom">{{ currentKanji.front }}</p>
            <div class="kanji-radicals">
                <span class="kanji-radical" ng-repeat="rad in currentKanji.radicals">
                    {{ rad.front }}
                </span>
            </div>
            <div id="{{kanji.id}}" class="kanji"
                ng-mouseover="zoomKanji(kanji)"
                ng-click="answerWith(kanji)"
                ng-repeat="kanji in activeGroup.kanji">
                {{ kanji.front }}
            </div>
            <!-- Wildcard (I don't know button) -->
            <!-- TODO: fix & debug -->
            <div class="kanji" ng-click="skipQuestion(quiz.kanji)">?</div>

            <!-- Active question -->
            <div class="kanji-quiz">
                <!-- TODO: katakana and hiragana in different styles -->
                <div class="reading">
                  <span class="kun">
                    {{ quiz.readings.kun }}
                  </span>
                  <span class="on">
                    {{ quiz.readings.on }}
                  </span>
                  <span class="nanori">
                    {{ quiz.readings.nanori }}
                  </span>
                </div>
                <p class="meaning"> {{ quiz.meanings }} </p>
                <!-- TODO: show kanji in example but hide(transliterate) the word -->
                <!-- TODO: highlight example compound/word -->
                <p class="example"> {{ quiz.examples }} </p>
            </div>

        </div>
        <!-- Kanji group END -->
        <!--button class="btn-dark" ng-click="getNextGroup()">Get scheduled group</button-->
    </div>
    {% endverbatim %}

    <!-- Loader -->
    <div ng-show="loading">
        {% include "partials/loader.html" %}
    </div>

    {% verbatim %}
    <div class="container answers">
      <div class="list-group">

        <!-- Previous answer -->
        <a href="" class="log-item list-group-item"
          ng-repeat="item in kanjiLog | reverse | limitTo: 5"
          ng-click="toggleLogItemInfo(item)"
          ng-class="{
            'list-group-item-success': item.correct && !item.toggled,
            'list-group-item-danger': !item.correct && !item.toggled,
            'active': item.toggled,
          }">

            <div class="list-group-item-heading item-header">
              <h4>
                {{ item.answered.front }}
                <span class="correct" ng-show="!item.correct">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  {{ item.answer.front }}
                </span>
              </h4>
            </div>

            <!-- Answer details -->
            <div ng-show="item.toggled" class="list-group-item-text">

              <div>
                {{ item.answer.front }}
                {{ item.answer.on }} {{ item.answer.kun }}
                {{ item.answer.gloss }}
                <p ng-repeat="compound in item.answer.compounds">
                  {{compound.front}} [{{compound.reading}}]: {{compound.gloss}}
                </p>
              </div>

              <div ng-show="!item.correct">
                <hr>
                {{ item.answered.front }}
                {{ item.answered.on }} {{ item.answered.kun }}
                {{ item.answered.gloss }}
              <p ng-repeat="compound in item.answered.compounds">
                {{compound.front}} [{{compound.reading}}]: {{compound.gloss}}
              </p>
              </div>

            </div>

        </a>

      </div>
    </div>

    {% endverbatim %}

    {% verbatim %}
      <div class="groups-seen">
        <span ng-repeat="group in groupsSeen">
          {{ group.info }}
          <div class="kanji-in-group">
            <span ng-repeat="kanji in group.kanji">
              {{ kanji.front }}
            </span>
          </div>
        </span>
      </div>
    {% endverbatim %}

</div>

<!--div class="container">
  <div class="alert alert-danger">Yaay, you did it!</div>
</div-->

{% endblock %}

{% block footer %}

    {# {% include "layout/footer.html" %} #}

{% endblock %}
