/* Profile screens */

@import 'main/buttons';
@import 'main/fonts';

/* Modal window fixes */
body, body.modal {
    margin-right: 0 !important;
}

body.modal {
    overflow-y: hidden;
}

.modal-open, .modal-open .navbar-fixed-top {
  margin-right: 0 !important;
}

.profile-nav {
  padding-top: 12px;
}


/* Study list */

.study-kanji {
  font-family: $jpFont;
  padding: 2px;
  font-size: 30px;

  &:hover {
    cursor: pointer;
    color: $foreground_light;
  }
}

.good {
  color: #54d57b;
}

.average {
  color: #ffbf00;
}

.bad {
  color: #f92c42;
}

.awful {
  color:#a2add0;
}
