/* Quiz page */

@import "compass/css3/user-interface";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/filter";

@import "main/fonts";
@import "main/colors";
@import "main/loader";
@import "mixins/main";

.quiz {
  padding-top: 20px;
  text-align: center;
}

.active-kanji-group {
  display: inline-block;
}

.kanji-group {
  text-align: center;
}

.kanji {
  font-family: $jpFont;
  float: left;
  padding: 20px;
  font-size: 70px;
  @include user-select(none);

  @include transition(color 0.3s ease 0s);

  &:hover {
    cursor: pointer;
    color: $yellow_light;
  }

  &:active {
    color: $yellow_main;
    position: relative;
    top: 1px;
  }

}

.disabled {
  color: shade($foreground_light, 50%);
  &:hover {
    color: shade($yellow_light, 50%);
    cursor: progress;
  }
}

.selected {
  color: shade($foreground_light, 10%);
  &:hover {
    color: shade($yellow_light, 10%);
    cursor: progress;
  }
}

.kanji-skip {
  @extend .kanji;
  font-size: 50px;

  span {
    padding-top: 25px;
  }

}

.kanji-zoom {
  font-family: $jpFont;
  font-size: 140px;
  cursor: default;
  @include user-select(none);
}

.kanji-radicals {
  font-family: $jpFont;
  font-size: 25px;
  @include user-select(none);

  .kanji-radical {
    padding: 10px;

    &:hover {
      color: $yellow_main;
      cursor: pointer;
      @include user-select(none);
    }

  }


}

/* Question elements */

.kanji-quiz {
  display: block;
  font-family: $jpFont;
  font-size: 20px;

  .reading {
    display: inline-block;
    min-width: 200px;
    font-size: 24px;
    padding: 5px;

    .kun {
      padding-right: 20px;
      color: tint($foreground_light, 30%);
    }
    .on {
      color: shade($foreground_light, 20%);
    }
    .nanori {
      color: shade($foreground_light, 50%);
    }

  }

  .meaning {
    font-family: $sansFont;
    color: tint($foreground_light, 50%);
  }

  .group-key {
    font-family: $sansFont;
    color: shade($foreground_light, 30%);
  }

  .example {
    color: $foreground_light;

    span {
      display: inline-block;
      color: shade($foreground_light, 30%);
    }

    .highlight {
      color: tint($foreground_light, 30%);
    }
  }

}

/* Answers log */

.answers {

  padding-top: 20px;

  .log-item {
    font-family: $sansFont;
  }

  .item-header {
    text-align: center;
    // TODO: dark color, cause default is too bright

    h4 {
      font-family: $jpFont;
      font-size: 32px;
    }

  }

  .details-kanji {
    font-family: $jpFont;
    text-align: center;
    font-size: 18px;

    .reading {
      color: shade($foreground_light, 20%);
    }
    .gloss {
      font-size: 16px;
      font-family: $sansFont;
    }

  }

  .kanji-example {
    font-family: $jpFont;
    text-align: center;
    font-size: 22px;

    ruby rt {
      color: shade($foreground_light, 15%);
      font-size: 12px;
    }
    p.gloss {
      font-family: $sansFont;
      font-size: 16px;
      color: shade($foreground_light, 10%);
    }
  }

  .details-compound {
    font-family: $jpFont;
    font-size: 17px;

    .compound {
      font-size: 26px;
    }
    .reading {
      color: shade($foreground_light, 15%);
    }
    .gloss {
      font-size: 16px;
      font-family: $sansFont;
      color: shade($foreground_light, 5%);
    }
  }

}

.toggle-log {
  height: 40px;
  text-align: center;
}

/* Kanji groups log */

.groups-seen {
  position: absolute;
  bottom: 8%;

  span {
    width: 100px;
  }

  .kanji-in-group {
    display: block;

    span {
      float: left;
    }
  }
}

/* Session stats */

.stats {
  margin-top: 30px;
}

.session {
  margin-left: 35%;
}

.exp {
  margin-top: 5px;
}

/* Notifications */

.overlay-notice {
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;

  text-indent: -9999px;
  width: 256px;
  height: 256px;
  background-size: 256px 256px;

  // @include transition(all 0.3s ease 0s);
}

.ok-circle {
  @extend .overlay-notice;
  background: url(/images/circle-outline.svg);
}

.no-cross {
  @extend .overlay-notice;
  background: url(/images/x-mark.svg);
}

.dim {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1 !important;
  background-color: black;
  @include opacity(0.5);
}
