/* Quiz page */

@import "compass/css3/user-interface";

@import "main/fonts";
@import "main/colors";
@import "main/loader";
@import "mixins/main";

.quiz {
  padding-top: 20px;
  text-align: center;
}

.active-kanji-group {
  display: inline-block;
}

.kanji {
  font-family: $jpFont;
  float: left;
  padding: 20px;
  font-size: 70px;
  @include user-select(none);

  &:hover {
    cursor: pointer;
    color: $yellow_light;
  }

}

.kanji:active {
  color: $yellow_main;
  position: relative;
  top: 1px;
}

.kanji-zoom {
  font-family: $jpFont;
  font-size: 180px;
  cursor: default;
  @include user-select(none);
}

.kanji-radicals {
  font-family: $jpFont;
  font-size: 25px;
  @include user-select(none);

  .kanji-radical {
    padding: 10px;

    &:hover {
      color: $yellow_main;
      cursor: pointer;
      @include user-select(none);
    }

  }


}

/* Question elements */

.kanji-quiz {
  font-family: $jpFont;
  font-size: 20px;

  .meaning {
    font-family: $sansFont;
    color: tint($foreground_light, 50%)
  }

  .example {
    color: shade($foreground_light, 30%)
  }
}

/* Kanji groups log */

.groups-seen {
  position: absolute;
  bottom: 8%;

  span {
    width: 100px;
  }

  .kanji-in-group {
    display: block;

    span {
      float: left;
    }
  }
}
