/* Main colors */

/* Login screen */
$background: #161616;
$background_dark: #222;
$background_light: #2D2B2B;
$background_extra_light: #332E2E;
$foreground_dark: #888;
$foreground_light: #CBCBCF;

$yellow_main: #FFBF00;
$yellow_light: #FACC2E;
$shade: #5A5A5A;
