/* Import Google fonts */

// @import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Share+Tech+Mono);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

/* Fonts settings */

$sansFont: 'Segoe UI', 'Frutiger', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$serifFont: 'Cambria', 'Georgia', 'Times', 'Times New Roman', serif !default;
// $monoFont: Monaco, Menlo, Consolas, "Courier New", monospace !default;
$monoFont: 'Ubuntu Mono', Monaco, Menlo, Consolas, "Courier New", monospace !default;
// $jpFont: 'IPAMincho', 'TakaoExMincho';
$jpFont: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

body {
  font-smooth: always;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
}

$titleSize: 60px;
$subTitleSize: 18px;
