{% extends "base.html" %}

{% block header %}
    {% include "layout/header.html" %}
{% endblock %}

{% block content %}

<div class="container" ng-controller="UserCtrl">
    <div class="row">

      {% include "partials/sidebar.html" %}

      <!-- Central content -->
      <div class="col-sm-9 main ng-cloak" ng-cloak>

        {% include "partials/profile.header.html" %}

        <h3>Study sessions log <small>from newest to oldest</small></h3>

        <ul class="list-group">
        {% for session in sessions %}

          <li class="list-group-item list-group-item-info">

            <strong>{{ session.date }}</strong>
                <span class="badge alert-danger">
                  Kanji: {{ session.total_kanji }}
                </span>
                <span class="badge alert-warning">
                  Time: {{ session.get_total_time }}
                </span>
                <span class="badge">
                  XP: {{ session.xp_gained }}
                </span>
            </span>

          </li>

        {% endfor %}
        </ul>

      </div>

    </div>
  </div>

{% endblock %}
