{% extends "base.html" %}

{% block header %}
    {% include "layout/header.html" %}
{% endblock %}

{% block content %}

<div class="container" ng-controller="UserCtrl">
    <div class="row">

      {% include "partials/sidebar.html" %}

      <!-- Central content -->
      <div class="col-sm-9 main ng-cloak" ng-cloak>

        {% include "partials/profile.header.html" %}

        <h3>Study sessions log <small>from newest to oldest</small></h3>

      </div>

    </div>
  </div>

{% endblock %}

{% block footer %}
    {% include "layout/footer.html" %}
{% endblock %}
