<div id="header">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">漢字験 -kanji damesi-</a>
        </div>

        <div class="collapse navbar-collapse" style="float:right">
            {% url 'profile' as url %}
            <ul class="nav navbar-nav">
                <li {% if request.path == url %} class="active" {% endif %}%>
                <a href="{% url 'profile' %}">Profile</a>
                </li>
            {% url 'quiz' as url %}
            <ul class="nav navbar-nav">
                <li {% if request.path == url %} class="active" {% endif %}%>
                <a href="{% url 'quiz' %}">Quiz</a>
                </li>
            <!-- <li><a href="{% url 'logout' %}">Logout</a></li> -->

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="{% url 'profile' %}">Change level</a></li>
                <li><a href="{% url 'achievements' %}">Achievements</a></li>
                <li><a href="{% url 'stats' %}">Kanji stats</a></li>
                <li><a href="{% url 'history' %}">Study log</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>

            </ul>
        </div><!--/.nav-collapse -->

        </div>
    </div>
</div>
