<div id="header">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">漢字験 -kanji damesi-</a>
        </div>

        <div class="collapse navbar-collapse">
            {% url 'profile' as url %}
            <ul class="nav navbar-nav">
                <li {% if request.path == url %} class="active" {% endif %}%>
                <a href="{% url 'profile' %}">Profile</a>
                </li>
            {% url 'quiz' as url %}
            <ul class="nav navbar-nav">
                <li {% if request.path == url %} class="active" {% endif %}%>
                <a href="{% url 'quiz' %}">Quiz</a>
                </li>
            <li><a href="{% url 'logout' %}">Logout</a></li>

            <!-- <li class="dropdown"> -->
            <!--     <a href="#" class="dropdown&#45;toggle" data&#45;toggle="dropdown">Dropdown <b class="caret"></b></a> -->
            <!--     <ul class="dropdown&#45;menu"> -->
            <!--     <li><a href="#">Action</a></li> -->
            <!--     <li><a href="#">Another action</a></li> -->
            <!--     <li><a href="#">Something else here</a></li> -->
            <!--     <li class="divider"></li> -->
            <!--     <li class="dropdown&#45;header">Nav header</li> -->
            <!--     <li><a href="#">Separated link</a></li> -->
            <!--     <li><a href="#">One more separated link</a></li> -->
            <!--     </ul> -->
            <!-- </li> -->

            </ul>
        </div><!--/.nav-collapse -->

        </div>
    </div>
</div>
